  <section class="column is-offset-9 mt-4">
    <form action="/station/{{station._id}}/addreport" method="POST">
      <div class="field is-grouped">
        <button class="button is-info is-medium">Auto-generate Reading<i class="fa-solid fa-satellite-dish pl-2"></i></button>
      </div>
    </form>
  </section>