<section class="column is-offset-9">
  <form action="/station/{{station._id}}/addreport" method="POST">
    <button class="button is-info is-outlined is-medium p-5">Auto-generate Reading<i class="fa-solid fa-satellite-dish pl-2"></i></button>
  </form>
</section>