<html>
  <head>
    <title>#{get 'title' /}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/dd084b05a9.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  </head>
  <body class="container">
    <div class="hero is-small is-info">
      <div class="hero-body">
        <div class="hero-title">
          <p class="title is-2">
            Welcome to Weathertop
          </p>
        </div>
        <br>
        <div class="columns">
          <div class="column is-1">
            <figure class="image">
              <img src="https://cdn.glitch.global/ae766124-e8c7-4be8-bcda-ed5853cf7e22/whitewindandsun.png?1688476570840">
            </figure>
          </div>
          <div class="column is-1">
            <figure class="image">
              <img src="https://cdn.glitch.global/ae766124-e8c7-4be8-bcda-ed5853cf7e22/whitesnow.png?1688476647600">
            </figure>
          </div>
          <div class="column is-1">
            <figure class="image">
              <img src="https://cdn.glitch.global/ae766124-e8c7-4be8-bcda-ed5853cf7e22/whiterain.png?1688476651956">
            </figure>
          </div>
          <div class="column is-1">
            <figure class="image">
              <img src="https://cdn.glitch.global/ae766124-e8c7-4be8-bcda-ed5853cf7e22/whitesunshine.png?v=1688476622405">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>  