{{#each stations}}
<div class="box box-link-hover-shadow">
  <div class="title pb-5">
    {{location}}
  </div>
  {{>list-latest-reading-on-dashboard}}
  <div class="columns">
    <div class="column is-offset-one-fifth">
      <a href="/station/{{_id}}" class="button is-info">
        <i class="fa-solid fa-folder-open"></i>
      </a> 
    </div>
    <div class="column is-offset-one-fifth">
      <a href="/dashboard/deletestation/{{_id}}" class="button is-danger" onclick="return confirm('Are you sure you want to delete this station?');"><i class="fa-solid fa-trash"></i></a>
    </div>
  </div>
</div>
{{/each}}