  <section>
    <form action="/station/{{station._id}}/addreport" method="POST">
      <div class="column is-half">
        <button class="button is-info is-medium">Auto-generate Reading<i class="fa-solid fa-satellite-dish pl-2"></i></button>
      </div>
    </form>
  </section>