{{> menu active="dashboard"}}

<div class="content box">
  {{> list-stations}}
  <button class="button is-size-5 is-light my-5">Add New Station<i class="fa-solid fa-satellite-dish pl-2"></i></button>
  {{> add-station}}