{{> menu}}

<div class="pb-6">
    <button class="button is-large is-light">
      {{station.location}}<i class="fa-solid fa-satellite-dish pl-2"></i>
      <br>
    </button>
  </div>
  {{> list-latest-reading}}
  {{> list-readings}}


