{{> menu}}
<div class="content box">
<div class="pb-6">
    <button class="button is-large is-light">
      {{station.location}}<i class="fa-solid fa-satellite-dish pl-2"></i>
      <br>
    </button>
  </div>
  {{> list-latest-reading}}
</div> 
<div class="content box">
  {{> list-readings}}
</div>

